<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<task:scheduler id="test-task" pool-size="50" />
  	<task:scheduled-tasks scheduler="test-task">
		<!-- 测试定时任务 -->
		<task:scheduled ref="testJob" method="get" cron="0/11 * * * * ?" />
		
	</task:scheduled-tasks>
	
</beans>